.hero-unit
  %h1 Добро пожаловать!
  %p
    Для того, чтобы опозновать музыку из рассказов, необходимо зарегистрироваться или войти
    %br
    Если Вы хотите войти с помощью одного из этих сервисов - щекните по иконке
  %p
    %h2 Войти используя пароль
  %p
    %h2 Зарегистрироваться 