%h1
  = track_header_link @track
  - if can_edit?
    = link_to "Ред.", edit_artist_track_path(@artist, @track), :class => 'btn btn-mini', :remote => true
  - if can_destroy?
    = link_to "Удалить", artist_track_path(@artist, @track), :method => :delete, :confirm => "Точно удалить?", :class => 'btn btn-mini btn-danger'

%h2 Играет в рассказах:
%table.table.table-striped
  %tbody
    - @track.playlists.map(&:story).uniq.each do |story|
      %tr
        %td= link_to story.name, [story.author, story]