%span.sm:block{ class: %w(mx-1) + classes }
  = link_to @link, class: ["btn", "inline-flex", "items-center"] do
    - if @inline_svg
      = @inline_svg
    - if @icon
      = vite_image_tag @icon, class: "w-5 h-5"
    = @title
