= render PageTitleComponent.new(title: title, buttons: buttons)
- if @stories.present?
  = render TableComponent.new(items: @authors, item_class: AuthorItemComponent, current_user:)
- else
  %h2 Этот трек пока не играет ни в одном рассказе.
