= form_tag authors_path, :method => :get, :class => 'well form-inline', remote: true, onsubmit: "$('#results').addClass('loading');" do
  %h1 Авторы
  = link_to "Добавить", new_author_path, :class => 'btn btn-primary', :remote => true
  = text_field_tag :search, params[:search], placeholder: "Введите имя автора", class: "input"
  %button{class: 'btn', type: 'submit', "data-disable-with" => "Поиск ..."}
    %i.icon-search
    Искать