.flex.flex-row.items-center
  %h1.mr-2
    Участники проекта
  .search-pane.flex-1.flex-row.pl-2
    = form_tag authors_path, method: :get, class: 'has-search' do
      = text_field_tag :q, params[:q], placeholder: 'Поиск', class: "input input-bordered"

- if @users.present?
  .flex.flex-col.items-center
    = render @users

  - if @pagy.pages > 1
    .flex.flex-col.items-center
      = raw pagy_nav(@pagy)
- else
  %h3 Таких участников нет :( Попробуй поменять что-то.
