.hero.bg-base-200.rounded-xl
  .hero-content.text-center
    .max-w-3xl
      %h1 МДС Музыка
      %p.py-6
        = link_to "Модель для сборки", "https://mds.ru/", class: :underline, target: :_blank
        = " - "
        культовая российская радиопередача, представляет собой литературно-музыкальный симбиоз, состоящий из лучших произведений российской и зарубежной прозы преимущественно фантастического жанра в сопровождении звукового ряда лучших направлений современной электронной музыки.
      %p
        МДС Музыка - это проект систематизации музыки из любимой радиопередачи. Здесь можно найти плейлисты - списки исполнителей и треков из рассказов.

%h2.mt-2 Обновления
%hr.my-2

.overflow-x-auto
  = render TableComponent.new(items: @playlists, item_class: PlaylistItemComponent, current_user:)

- if @pagy.pages > 1
  .flex.flex-col.items-center.my-2
    = raw pagy_nav(@pagy)