development: &defaults
  :vkontakte:
    :app_id: '1111111'
    :app_secret: '11111111111111111'
    :app_permissions: "notify,wall,offline"
  :twitter:
    :app_id: '111111111'
    :app_secret: '11111111111'
  :facebook:
    :app_id: '11111111111'
    :app_secret: '1111111111111'

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  :vkontakte:
    :app_id: ''
    :app_secret: ''
    :app_permissions: "notify,wall,offline"
  :twitter:
    :app_id: ''
    :app_secret: ''
  :facebook:
    :app_id: ''
    :app_secret: ''