%h1= story_header_link @story
= link_to "Что играет?", new_author_story_playlist_path(@author, @story, :request => '1'), :class => 'btn', :remote => true
= link_to "Опознать трек", new_author_story_playlist_path(@author, @story), :class => 'btn btn-primary', :remote => true
%p
  #player
    Тут будет плеер
  #playlist
    =render @story.playlists

