
%h1= story_header_link @story
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), [@author, :stories], :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), [:edit, @author, @story], :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), [@author, @story], :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
#player
  Тут будет плеер
#playlist
  =render @playlists

