/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
a.ico-msocial {
  display: inline-block; width: 13px; height: 13px;
  background: image-url("search_icons.png") no-repeat 0 0;
  margin-left: 1px;
  &[title="Discogs.com"] {background-position: 0 0;}
  &[title="vk.com"] {background-position: -13px 0;}
  &[title="Grooveshark.com"] {background-position: -26px 0;}
  &[title="Яндекс.Музыка"] {background-position: -39px 0;}
  &[title="Muzebra.com"] {background-position: -52px 0;}
}