<p>Привет <%= @resource.username %>!</p>

<p>Если это ты запросил восстановление пароля - щелкни по ссылке. </p>

<p><%= link_to 'Восстановить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
