- unless @playlists.empty?
  .section
    .page-header
      %h2 Опознанные запросы

  %table.table.table-striped
    %tbody
      = render :partial => "identify", :collection => @playlists, :as => :playlist
  = paginate @playlists