%ul.nav.nav-list
  %li.nav-header
    Мои запросы
  %li{:class => ["#{'active' if current_page?(my_requests_path)}"]}
    =link_to my_requests_path do
      %i.icon-map-marker
      Запросы (#{@requests.total_count})
  %li{:class => ["#{'active' if current_page?(my_identified_path)}"]}
    =link_to my_identified_path do
      %i.icon-asterisk
      Опознанные (#{@playlists.total_count})