- unless @requests.empty?
  .section
    .page-header
      %h2 Запросы на опознание

  %table.table.table-striped
    %tbody
      = render :partial => "request", :collection => @requests, :as => :playlist
  = paginate @requests