$("#modal_window").html("<%= escape_javascript(render 'form')%>");
$('#playlist_window').modal('toggle');
$("#artist").autocomplete({
    minLength: 2,
    source: "/artists/search",
    focus: function(event, ui) {
      $("#artist").val(ui.item.value);
      return false;
    },
    select: function(event, ui) {
      $("#artist").val(ui.item.value);
      return false;
    }
  }).data("autocomplete")._renderItem = function(ul, item) {
    return $("<li></li>").data("item.autocomplete", item).append("<a>" + item.value + "</a>").appendTo(ul);
  };
$("#track").autocomplete({
    minLength: 2,
    source: "/artists/track_search",
    focus: function(event, ui) {
      $("#track").val(ui.item.value);
      return false;
    },
    select: function(event, ui) {
      $("#track").val(ui.item.value);
      return false;
    }
  }).data("autocomplete")._renderItem = function(ul, item) {
    return $("<li></li>").data("item.autocomplete", item).append("<a>" + item.value + "</a>").appendTo(ul);
  };
