%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container.d-flex.justify-content-between
    = link_to root_url, class: ['navbar-brand', 'd-flex', 'align-items-center'] do
      %strong МДС Музыка
    %button.navbar-toggler.collapsed{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %ul.navbar-nav
      %li.nav-item= link_to 'Участники', users_path, class: 'nav-link'
  
  = render 'logins'